.contact-list-box {
  width: 70%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.contact-list-title {
  text-align: left;
  font-size: 22px;
  margin-bottom: 10px;
}

.no-contacts {
  text-align: left;
  color: #777;
}
