.contact-form-container {
  margin-bottom: 30px;
}

.contact-form-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  
}

.contact-input {
  padding: 10px;
  width: 30%;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f3fbfd;
  color: black;
}

.contact-btn {
  background-color: #00c9d2;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.contact-btn:hover {
  background-color: #00a8b3;
}
